Options -Indexes
RewriteEngine On

ErrorDocument 404 /view/404.php

# Jika user mengetik domain.com/index -> Diubah ke domain.com/
RewriteCond %{THE_REQUEST} \s/index[\s?] [NC]
RewriteRule ^index$ / [R=301,L]

# HANDLE ROOT DOMAIN (domain.com/ -> view/index.php)
RewriteRule ^$ view/index.php [L]

# User ketik: domain.com/about -> Apache panggil: view/about.php
RewriteCond %{DOCUMENT_ROOT}/view/$1.php -f
RewriteRule ^([^/]+)$ view/$1.php [L]


Redirect 301 /jual-beli-paypal /jual-beli-saldo-paypal



# Blokir file tersembunyi
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# CACHE 1 TAHUN
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public"
</IfModule>